[submodule "android/jni/messenger-backend"]
	path = android/jni/messenger-backend
	url = https://github.com/open-xchange/deltachat-core
[submodule "ios/Libraries/delta_chat_core"]
	path = ios/Libraries/delta_chat_core
	url = https://github.com/open-xchange/deltachat-core-rust.git
	branch = coi-metadata
