[submodule "android/jni/messenger-backend"]
	path = android/jni/messenger-backend
	url = https://github.com/open-xchange/deltachat-core
[submodule "ios/Classes/libraries/deltachat-core-rust"]
	path = ios/Classes/libraries/deltachat-core-rust
	url = https://github.com/deltachat/deltachat-core-rust.git
